.CoursePortlet {
}

.field {
    height: 100%;
    width:100%;

}
.prueba {
    position:static;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.submit{
    position: center;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}